<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>592843149676-bcajf6faobr625v2htgee9bkp05jt2i8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT06GosKCfia3QnrOj3ewCgmeiOsKLUY0</string>
	<key>GCM_SENDER_ID</key>
	<string>592843149676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surgicalutopia</string>
	<key>PROJECT_ID</key>
	<string>surgicalutopia-51861</string>
	<key>STORAGE_BUCKET</key>
	<string>surgicalutopia-51861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592843149676:ios:e329c05aa2ecaabadc2349</string>
	<key>DATABASE_URL</key>
	<string>https://surgicalutopia-51861.firebaseio.com</string>
</dict>
</plist>